# NAVIGATION
##########################################
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias c='clear'
alias h='history'
alias ex='exit'
alias snippets='vim ~/.vim/snippets/'
alias vimrc='vim ~/.vimrc' # Open vimrc
alias vimplugins='vim ~/.vim-plugins' # Open vim-plugins
alias aliases='vim ~/.aliases' # Open aliases
alias latest='vim $(ls -t | head -1)' # Open latest file in directory
alias wd='watch -n .1 ls -lah' #watch current dir
alias cf="ls -l | wc -l" #count files in current dir
alias dotfiles='cd ~/dotfiles/'
alias size="ls -lhS | awk '{print \$5, \$9}'"

# Trash
##########################################
#alias tr='trash'
alias rt='restore-trash'

# mv, rm cp
##########################################
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# LS ALIASES
##########################################
if [[ is_osx ]]; then
	alias l='ls -lFh'
	alias ll='ls -alFh'
	alias la='ls -lah'
else
	alias l='ls -lFh --group-directories-first'
	alias ll='ls -alFh --group-directories-first'
	alias la='ls -lah --group-directories-first'
fi
alias sl='ls'

# GREP
##########################################
alias grep='grep --color=auto'
alias hg='history | grep'
alias gh='history | grep'

# SUDO (makes other aliases available to sudo)
##########################################
alias sudo='sudo '
alias doit='sudo $(history -p \!\!)'

# SOURCE FILES
##########################################
alias bashrc='source $HOME/.bashrc'
alias zshrc='source $HOME/.zshrc'
alias ssa='cdg && source site-aliases.sh'

# TMUX
##########################################
alias tmux='tmux -2' #Force tmux to assume the terminal supports 256 colours
alias ta='tmux attach -d'
alias tmux-reload='tmux source-file ~/.tmux.conf';
alias mon='tmuxp load site-monitor'        # Site Monitor Layout
alias monk='tmux kill-session -t monitor'  # Exit Site Monitor Layout
alias monx='monk'

# GIT
##########################################
alias current-branch='git rev-parse --abbrev-ref HEAD'
alias gb='git branch'
alias gbd='git branch -D'
alias gs='git status'
alias gpm='git push origin master'
alias gplm='git pull origin master'
alias gpb='git push origin $(current-branch)'
alias gplb='git pull origin $(current-branch)'
alias gpbf='git push -f origin $(current-branch)'
alias gma='git commit -am'
alias gm='git commit -m'
alias gc='git checkout'
alias gcm='git checkout master'
alias gcb='git checkout -b'
alias ga='git add -A .'
alias gca='git commit --amend'
alias grm='git rm $(git ls-files --deleted)  '
alias ni='git commit -m "New Images"';
alias gl='git log --pretty=format:"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]" --decorate --date=relative --graph'
alias gll='git log --pretty=format:"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]" --decorate --numstat'
alias gls='git log --date=short --pretty=format:"%C(124)%ad %C(24)%h %C(34)%an %C(252)%s%C(178)%d"'
alias gitclean='git gc --prune=now --aggressive'


# Python
##########################################
alias python='python3.8'
alias py='python'

# Get to the top of a git tree
##########################################
cdg () {
  TEMP_PWD=`pwd`
  while ! [ -d .git ]; do
  cd ..
  done
  OLDPWD=$TEMP_PWD
}

# Gets the scp path for a file
##########################################
scpget () {
  { echo $(getip); echo ":"; echo $(readlink -f $1); } | tr -d "\n"
}
alias getscp=scpget

# Set Dev Function
##########################################
function setdev() {
    case "$1" in
    'bc')
        DESIGNATOR='bc'
        SITE_NAME='BadCredit.org'
        cd $BC_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'da')
        DESIGNATOR='da'
        SITE_NAME='DatingAdvice.com'
        cd $DA_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'db')
        DESIGNATOR='bd'
        SITE_NAME='DigitalBrands.com'
        cd $DB_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'dn')
        DESIGNATOR='dn'
        SITE_NAME='DatingNews.com'
        cd $DN_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'cr')
        DESIGNATOR='cr'
        SITE_NAME='CardRates.com'
        cd $CR_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'ha')
        DESIGNATOR='ha'
        SITE_NAME='HostingAdvice.com'
        cd $HA_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'hr')
        DESIGNATOR='hr'
        SITE_NAME='HostingReport.com'
        cd $HR_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'mt')
        DESIGNATOR='mt'
        SITE_NAME='MoneyTrends.com'
        cd $MT_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    '404')
        DESIGNATOR='404'
        SITE_NAME='404.center'
        cd $FOF_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    esac
}

alias sd=setdev


# DOCKER
##########################################
alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias dcb="docker-compose build"
alias dcr="docker-compose run"
alias dl="docker-compose logs -f" #Docker logs
alias dps="docker ps" #Docker process list
alias dsr="dstop && dremove" # Stop and remove all docker containers
dstop() { docker stop $(docker ps -aq); } #Stop all docker containers
dremove() { docker rm $(docker ps -a -q); } #Remove all docker containers
dcc(){ docker-compose exec -e COLUMNS="`tput cols`" -e LINES="`tput lines`" $1 bash } #Login into given Docker container
alias dockerclean='docker system prune --all --volumes --force'


# PROGRAMS
##########################################
alias monsoon='php ~/monsoon-php/monsoon.php'
alias ack="ack-grep"
alias serve="python -m SimpleHTTPServer"

# SERVICES
##########################################
alias update='sudo apt-get update && sudo apt-get upgrade -y && upgrade_oh_my_zsh && cd $HOME/dotfiles && gplm && cd - && zshrc'
alias ra='sudo service apache2 reload' 
alias rv='sudo service varnish reload' 

# SITES
##########################################
USER='pj'
BC='50.28.104.211'
CR='64.91.229.108'
DA='50.28.104.181'
DB='178.128.147.0'
DN='64.91.233.2'
GVS='107.170.2.251'
HA='69.16.249.15'
HR='50.28.106.148'
MT='159.89.44.119'
RM='64.91.241.174'

alias bc="mosh $USER@$BC"
alias cr="mosh $USER@$CR"
alias crp="mosh $USER@cardratespreview.com"
alias da="mosh $USER@$DA"
alias db="mosh $USER@$DB"
alias dc="mosh $USER@$DC"
alias dn="mosh $USER@$DN"
alias gvs="mosh $USER@$GVS"
alias ha="mosh $USER@$HA"
alias hr="mosh $USER@$HR"
alias mt="mosh $USER@$MT"
alias 404="mosh $USER@404.center"
alias rainmaker="mosh $USER@$RM"
alias docs="mosh docentuser@db-docs.com"

alias dev-docker="mosh $USER@165.227.183.22"
alias dev-1604="mosh $USER@104.236.238.33"

alias careeners="ssh careeners@careeners.com"

# PERMISSIONS
##########################################
alias www-data='sudo chown -R www-data:www-data *';
#alias db-admin='sudo chown -R db-admin:db-admin *';

# BUILD
##########################################
alias buildsite="./build-site.sh"
alias buildassets="cd build && ./build-assets.sh && cd - > /dev/null"
alias buildhtml="cd build && ./build-html.sh && cd - > /dev/null"
alias bs="buildsite"
alias ba="buildassets"
alias bh="buildhtml"

# WORDPRESS
##########################################
alias w3tc="wp-cli plugin toggle w3-total-cache"

# VARNISH
##########################################
alias purge='curl -X PURGE $1';

# MISC
##########################################
alias less-upgrade='sudo npm install -g less@1.7.4'
alias less-downgrade='sudo npm install -g less@1.3.3'
alias tial="tail";
alias ctags-gen="ctags -R -f .git/tags ." #Generate ctags
alias weather='curl http://wttr.in/32601'; #Show current weather
alias getip="curl -s icanhazip.com" #Show IP Address
alias ipget='getip'
alias color="{spectrum_ls && spectrum_bls} | less" #All colors
alias color-fg="spectrum_ls | less" #Foregroud colors
alias color-bg="spectrum_bls | less" #Background colors
alias perm="stat --format '%a' $1" #Show file permision numbers
alias ubuntu="lsb_release -a" #Show Ubuntu version
alias lts="lsb_release -a" #Show Ubuntu version

# SUFFIX ALIASES ( if extension: open with )
##########################################
alias -s log="tail -f"
alias -s php="vim"
alias -s css="vim"
alias -s less="vim"
alias -s js="vim"
alias -s md="vim"
