# NAVIGATION
##########################################
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias c='clear'
alias h='history'
alias ex='exit'
alias snippets='vim ~/.vim/snippets/'
alias vimrc='vim ~/.vimrc' # Open vimrc
alias vimplugins='vim ~/.vim-plugins' # Open vim-plugins
alias aliases='vim ~/.aliases' # Open aliases
alias latest='vim $(ls -t | head -1)' # Open latest file in directory
alias wd='watch -n .1 ls -lah' #watch current dir

# LS ALIASES
##########################################
alias l='ls -lFh'
alias ll='ls -alFh'
alias la='ls -lah'

# GREP
##########################################
alias grep='grep --color=auto'
alias hg='history | grep'
alias gh='history | grep'

# SUDO (makes other aliases available to sudo)
##########################################
alias sudo='sudo '
alias doit='sudo $(history -p \!\!)'

# SOURCE FILES
##########################################
alias bashrc='source $HOME/.bashrc'
alias zshrc='source $HOME/.zshrc'

# TMUX ALIASES
##########################################
alias tmux='tmux -2' #Force tmux to assume the terminal supports 256 colours
alias tmux-reload='tmux source-file ~/.tmux.conf';
alias mon='tmuxp load site-monitor'        # Site Monitor Layout
alias monk='tmux kill-session -t monitor'  # Exit Site Monitor Layout
alias monx='monk'

# GIT ALIASES
##########################################
alias current-branch='git rev-parse --abbrev-ref HEAD'
alias gb='git branch'
alias gbd='git branch -D'
alias gs='git status'
alias gpm='git push origin master'
alias gplm='git pull origin master'
alias gpb='git push origin $(current-branch)'
alias gplb='git pull origin $(current-branch)'
alias gma='git commit -am'
alias gm='git commit -m'
alias gc='git checkout'
alias gcm='git checkout master'
alias gcb='git checkout -b'
alias ga='git add -A .'
alias gca='git commit --amend'
alias grm='git rm $(git ls-files --deleted)  '
alias ni='git commit -m "New Images"';
alias gl='git log --pretty=format:"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]" --decorate --date=relative'
#alias gl="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit"
alias gll='git log --pretty=format:"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]" --decorate --numstat'

# PROGRAMS
##########################################
alias monsoon='php ~/monsoon-php/monsoon.php'
alias ack="ack-grep"
alias serve="python -m SimpleHTTPServer"

# SERVICES
##########################################
alias update='sudo apt-get update && sudo apt-get upgrade -y && upgrade_oh_my_zsh && cd $HOME/dotfiles && gplm && cd - && zshrc'
alias ra='sudo service apache2 reload' 
alias rv='sudo service varnish reload' 

# SITES
##########################################
alias da='mosh datingadvice.com'
alias pr='mosh printaholic.com'
alias coupons='ssh 166.78.136.18'
alias bc='mosh 166.78.243.119'
alias ha='mosh 23.253.111.148'
alias cr='mosh cardrates.com'
alias crp='mosh cardratespreview.com'
alias db='mosh digitalbrands.com'
alias dc='mosh dealcrunch.com'
alias docs='mosh docentuser@db-docs.com'
alias docker-dev='mosh 165.227.72.251'

# PERMISSIONS
##########################################
alias setperm='sudo chgrp -R www-data public_html/ && sudo chmod -R g+w public_html/ && sudo find public_html/ -type d -exec sudo chmod g+s {} \; && sudo chown -R www-data public_html/'
alias setdbdev='sudo find public_html/ -path "*/functions/scripts/*" -exec chown db-dev {} \; && sudo find public_html/ -path "*/functions/scripts/*" -exec chgrp db-dev {} \;'
alias www-data='sudo chown -R www-data:www-data *';

# WORDPRESS
##########################################
alias w3tc="wp plugin toggle w3-total-cache"
alias ss="time monsoon && gplm && w3tc"

# VARNISH
##########################################
alias purge='curl -X PURGE $1';

# MISC
##########################################
alias less-upgrade='sudo npm install -g less@1.7.4'
alias less-downgrade='sudo npm install -g less@1.3.3'
alias tial="tail";
alias ctags-gen="ctags -R -f .git/tags ."
alias weather='curl http://wttr.in/32601';
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# SUFFIX ALIASES ( if extension: open with )
##########################################
alias -s log="tail -f"
alias -s php="vim"
alias -s css="vim"
alias -s less="vim"
alias -s js="vim"
alias -s md="vim"
