# NAVIGATION
##########################################
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias c='clear'
alias h='history'
alias ex='exit'
alias snippets='vim ~/.vim/snippets/'
alias vimrc='vim ~/.vimrc' # Open vimrc
alias vimplugins='vim ~/.vim-plugins' # Open vim-plugins
alias aliases='vim ~/.aliases' # Open aliases
alias latest='vim $(ls -t | head -1)' # Open latest file in directory
alias wd='watch -n .1 ls -lah' #watch current dir
alias dotfiles='cd ~/dotfiles/'

# Trash
##########################################
alias tr='trash'
alias rt='restore-trash'

# mv, rm cp
##########################################
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# LS ALIASES
##########################################
alias l='ls -lFh --group-directories-first'
alias ll='ls -alFh --group-directories-first'
alias la='ls -lah --group-directories-first'

# GREP
##########################################
alias grep='grep --color=auto'
alias hg='history | grep'
alias gh='history | grep'

# SUDO (makes other aliases available to sudo)
##########################################
alias sudo='sudo '
alias doit='sudo $(history -p \!\!)'

# SOURCE FILES
##########################################
alias bashrc='source $HOME/.bashrc'
alias zshrc='source $HOME/.zshrc'

# TMUX
##########################################
alias tmux='tmux -2' #Force tmux to assume the terminal supports 256 colours
alias tmux-reload='tmux source-file ~/.tmux.conf';
alias mon='tmuxp load site-monitor'        # Site Monitor Layout
alias monk='tmux kill-session -t monitor'  # Exit Site Monitor Layout
alias monx='monk'

# GIT
##########################################
alias current-branch='git rev-parse --abbrev-ref HEAD'
alias gb='git branch'
alias gbd='git branch -D'
alias gs='git status'
alias gpm='git push origin master'
alias gplm='git pull origin master'
alias gpb='git push origin $(current-branch)'
alias gplb='git pull origin $(current-branch)'
alias gpbf='git push -f origin $(current-branch)'
alias gma='git commit -am'
alias gm='git commit -m'
alias gc='git checkout'
alias gcm='git checkout master'
alias gcb='git checkout -b'
alias ga='git add -A .'
alias gca='git commit --amend'
alias grm='git rm $(git ls-files --deleted)  '
alias ni='git commit -m "New Images"';
alias gl='git log --pretty=format:"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]" --decorate --date=relative'
#alias gl="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit"
alias gll='git log --pretty=format:"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]" --decorate --numstat'


# Set Dev Function
##########################################
function setdev() {
    case "$1" in
    'dn')
        DESIGNATOR='da'
        SITE_NAME='DatingNews.com'
        cd $DN_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'cr')
        DESIGNATOR='cr'
        SITE_NAME='CardRates.com'
        cd $CR_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'ha')
        DESIGNATOR='ha'
        SITE_NAME='HostingAdvice.com'
        cd $HA_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    'bc')
        DESIGNATOR='bc'
        SITE_NAME='BadCredit.org'
        cd $BC_HOME_DIR
        source site-aliases.sh
        echo "Environment Set: $SITE_NAME"
    ;;
    esac
}

alias sd=setdev

# DOCKER
##########################################
alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias dcb="docker-compose build"
alias dcr="docker-compose run"
alias dl="docker-compose logs -f"
alias dps="docker ps"


# PROGRAMS
##########################################
alias monsoon='php ~/monsoon-php/monsoon.php'
alias ack="ack-grep"
alias serve="python -m SimpleHTTPServer"

# SERVICES
##########################################
alias update='sudo apt-get update && sudo apt-get upgrade -y && upgrade_oh_my_zsh && cd $HOME/dotfiles && gplm && cd - && zshrc'
alias ra='sudo service apache2 reload' 
alias rv='sudo service varnish reload' 

# SITES
##########################################
alias da='mosh datingadvice.com'
alias pr='mosh printaholic.com'
alias coupons='ssh 166.78.136.18'
alias bc='mosh 166.78.243.119'
alias ha='mosh hostingadvice.com'
alias cr='mosh cardrates.com'
alias cr-1604='mosh 64.91.229.108'
alias crp='mosh cardratespreview.com'
alias db='mosh digitalbrands.com'
alias dc='mosh 104.239.165.198'
alias docs='mosh docentuser@db-docs.com'
alias dev-docker='mosh 165.227.183.22'

# PERMISSIONS
##########################################
alias setdbdev='sudo find public_html/ -path "*/functions/scripts/*" -exec chown db-dev {} \; && sudo find public_html/ -path "*/functions/scripts/*" -exec chgrp db-dev {} \;'
alias www-data='sudo chown -R www-data:www-data *';
#alias db-admin='sudo chown -R db-admin:db-admin *';

# BUILD
##########################################
alias buildsite="./build-site.sh"
alias buildassets="cd build && ./build-assets.sh && cd - > /dev/null"
alias buildhtml="cd build && ./build-html.sh && cd - > /dev/null"
alias bs="buildsite"
alias ba="buildassets"
alias bh="buildhtml"

# WORDPRESS
##########################################
alias w3tc="wp-cli plugin toggle w3-total-cache"
alias ss="time monsoon && gplm && w3tc"
#alias ss="time monsoon && gplm"

# VARNISH
##########################################
alias purge='curl -X PURGE $1';

# MISC
##########################################
alias less-upgrade='sudo npm install -g less@1.7.4'
alias less-downgrade='sudo npm install -g less@1.3.3'
alias tial="tail";
alias ctags-gen="ctags -R -f .git/tags ."
alias weather='curl http://wttr.in/32601';
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias color="{spectrum_ls && spectrum_bls} | less"
alias color-fg="spectrum_ls | less"
alias color-bg="spectrum_bls | less"
alias perm="stat --format '%a' $1"

# SUFFIX ALIASES ( if extension: open with )
##########################################
alias -s log="tail -f"
alias -s php="vim"
alias -s css="vim"
alias -s less="vim"
alias -s js="vim"
alias -s md="vim"
