[user]
	name = PJ Fancher
	email = pj@digitalbrands.com
[core]
	mergeoptions = --no-edit
	editor = vim
    hooksPath = "~/dotfiles/.git-hooks"
[credential]
	helper = cache --timeout=86400
[tig]
    tab-size = 4
