[core]
	mergeoptions = --no-edit
	editor = vim
	hooksPath = "~/dotfiles/.git-hooks"
[tig]
	tab-size = 4
[user]
	email = peejfancher@gmail.com
	name = PJ Fancher
[safe]
	directory = /home/cardrates
	directory = /home/datingadvice
	directory = /home/hostingreport
	directory = /home/moneytrends
	directory = /home/digitalbrands
	directory = /home/badcredit
	directory = /home/datingnews
	directory = /home/hostingadvice
	directory = /home/screamingfrog
	directory = /home/hostingadvice/warmer
