snippet . "class"
.$1 {
	$2
} // .$1
endsnippet

snippet t "tag"
$1 {
	$2
} // $1
endsnippet

snippet # "ID"
#$1 {
	$2
} // #$1
endsnippet

snippet & "&.class"
&.$1 {
	$2
} // &.$1
endsnippet

snippet nth "nth-child"
&:nth-child($1) {
	$2
} // $:nth-child($1)
endsnippet
